
.about{
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 80px;
}
.about h1{
   font-size: 3.5rem;
}

.about h1 span{
   color: rgb(118, 171, 174);
}

.about div img{
   height: 300px;
   max-width: 300px;
   border-radius: 50%;
   margin: 2rem 0;
   border: 2px solid rgb(118, 171, 174);
   border-radius: 50%;
   border-top-color: transparent;
   border-bottom-color: transparent;
   outline: 2px solid rgb(118, 171, 174);
   outline-offset: -10px;
   padding: 20px;
}

.about p{
   width: 80%;
   margin-bottom: 1.5rem;
   text-align: center;
   font-size: 1rem;
}

.about button{
   background-color: rgb(118, 171, 174);
   color: rgb(34, 40, 49);
   border: 2px solid rgb(118, 171, 174);
   font-size: 1.2rem;
   padding: 8px 16px;
   border-radius: 6px;
   font-weight: bold;
   transition: all .5s;
   cursor: pointer;
}

.about button:hover{
   background-color: transparent;
   color: rgb(118, 171, 174);
   border-color: rgb(118, 171, 174);
}