
.education{
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 4rem;
}

.education h1 {
   font-size: 3rem;
   margin-top: 3rem;
}

.education h1 span{
   color: rgb(118, 171, 174);
}

.education .container{
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   gap: 4rem;
}

.data-container{
   display: flex;
   flex-direction: column;
   max-width: 500px;
   gap: 1rem;
   align-items: start;
   justify-content: start;
}

.education .data-container h2{
   color: rgb(118, 171, 174);
}

.education .data-container .data{
   display: flex;
   flex-direction: column;
   gap: .5rem;
   border: 2px solid rgb(118, 171, 174);
   padding: 10px;
   border-radius: 5px;
   width: 100%;
   min-height: 120px;
}

.education .data-container .data h5{
   color: rgb(118, 171, 174);
   font-weight: bold;
}

.education .data-container .data h3{
   font-size: 1.5rem;
}


.education .data-container .data p{
   line-height: 1.3;
}